        
           * {
                background-color: whitesmoke;
                height: 80px;
            }

            h1 {
                color: #ff0000;
            }

            h2 {
                color: #003e70;
            }

            .logo {
                background-color: whitesmoke;
                float: right;
            }

            #texto {
                color: rgb(0, 0, 0);
            }

            body {
                margin: 10;
                padding: 10;
                border: 10;
            }


            table,
            th,
            td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: center;
            }

            .button_prox_pagina:hover {
                background-color: #4CAF50;
                /* Green */
                border: none;
                color: white;
                padding: 15px 32px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                transition: all 0.5s;
                cursor: pointer;

            }

            .input_text {
                width: 150px;
                /* Defina a largura desejada */
                height: 35px;
                /* Defina a altura desejada */

            }

            .input_action {
                width: 150px;
                /* Defina a largura desejada */
                height: 35px;
                /* Defina a altura desejada */

            }
            